.offer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.content-one,
.content-two {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--primary-pink);
  color: white;
  width: fit-content;
  padding-inline: 4px;
  border-radius: 0.5em;
  font-size: small;
}

/* responsive */
@media (max-width: 400px) {
  .content-one,
  .content-two {
    font-size: x-small;
    gap: 2px;
  }
  .content-one svg,
  .content-two svg {
    font-size: small;
  }
  .offer-container {
    gap: 0.4em;
  }
}
/* responsive */
