.cart-container {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-rows: 40px 80px 200px 400px 100px;
  z-index: 20;
  /* align-items: stretch; */
}
.cart-nav {
  background-color: white;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;
  padding-block: 2px;
  box-shadow: 5px 4px 10px 5px #d9cece;
  z-index: 1;
}
.cart-header {
  display: flex;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  height: 80px;
  width: 100%;
}
.cart-header-pickup-btn {
  background-color: white;
  padding: 14px 25px;
  border-radius: 10px;
}
.cart-middle {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-slider-container {
  grid-row: 4;
}
.cart-footer {
  background-color: white;
  grid-row: 5;
  margin-top: auto;
}
.cart-footer-price {
  display: flex;
  justify-content: space-between;
}
