/* addAddress Popup */
.add-address-popup-container {
  border: 1px solid lightgray;
  padding: 1em;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  background-color: #fff;

  /* height: 200px; */
}
.add-address-popup-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.add-address-popup-middle {
  padding: 1em;
  text-align: left;
  margin: 0;
  color: grey;
}
.add-address-popup-footer {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  /* justify-content: unset; */
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 10px 12px;
  background-color: var(--primary-pink);
  /* margin-bottom: 1em; */
  border-radius: 10px;
}
.add-address-popup-footer p {
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.add-address-popup-right svg {
  font-size: 20px;
}

/* -------------------------------------product-detail-popup */
.product-detail-container {
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid grey; */
  width: 400px;
  height: 660px;
  /* height: 200vh; */
  overflow: hidden;
  /* padding: 1em; */
  /* z-index: 15; */
  p {
    color: grey;
    font-size: 15px;
  }

  h3 {
    margin-top: 10px;
  }
}
/* .product-detail-banner {
  width: 100%;
  /* box-sizing: border-box; */

.product-detail-instructions {
  /* gap: 1em; */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: start;
  /* align-items: center; */
}
.product-detail-instructions-input input {
  width: 100%;
  height: 70px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  text-align: start;
  /* margin-bottom: auto; */
}
.product-detail-banner {
  /* margin-bottom: 1rem; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 231px;
}
.product-detail-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.product-detail-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  gap: 5px;
}
.product-detail-footer-left {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1em;
}
.product-detail-footer-right {
  flex: 1;
}
.product-detail-price {
  font-weight: bold;
  color: var(--primary-pink);
}
.product-detail-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.product-detail-banner-button {
  position: absolute;
  right: 9px;
  top: 9px;
}
.product-detail-item-not-available-option {
  summary {
    padding: 10px;
    /* background-color: red; */
    border-radius: 10px;
    border: none;
  }
}
.product-detail-item-not-available-option summary {
  padding: 0.4em;
}

.summary-options {
  display: flex;
  flex-direction: column;
  gap: 1em;

  button {
    /* background-color: red; */
    padding-block: 12px;
    font-size: large;
    border-bottom: 1px solid grey;
  }
}

/* responsive */
