.play-ground-container {
  max-width: 800px;
  margin: 0px auto;
  box-shadow: 6px 11px 15px 17px lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  border: 1px solid;
  gap: 4em;
  background: grey;
  height: 100vh;
}
