.partner-container {
  /* padding: 10px 10px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.partner-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em;
}

.nav-right {
  display: flex;
  gap: 1em;
}

button.nav-normal-btn {
  background-color: hotpink;
  padding: 0.5em 1em;
  border-radius: 8px;
  color: white;
  font-weight: bolder;
}
.partner-hero {
  /* text-align: center; */
  display: flex;
  max-width: 100%;
  height: 700px;
  background-image: url("/src/assets/partner_reg_images/hero_image_desktop.webp");
  /* width: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.partner-small-text {
  margin-top: 1em;
  margin-bottom: 1em;
}
.hero-big-text h2 {
  font-weight: 500;
}

.hero-big-text span {
  font-weight: 700;
}
/* OPPURTINITIES */
.new-opportunities-container {
  margin-bottom: 3em;
}
.opportunities-features {
}
.opportunities-title {
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
  margin-top: 1em;
}
.opportunities-title-two {
  color: var(--primary-pink);
}
.opportunities-single-feature-one,
.opportunities-single-feature-two,
.opportunities-single-feature-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  max-width: 90%;
}
.opportunities-single-feature-one {
  z-index: 1;
}
.opportunities-single-feature-content {
  /* grid-row: 1; */
  /* grid-column: 1; */
  text-align: center;
}
.opportunities-single-feature-content h4 {
  font-size: larger;
  font-weight: 500;
  margin-bottom: 1em;
}
.opportunities-single-feature-content p {
  color: dimgrey;
}
/* video overlay */
.video-overlay-container {
  width: 100%;
  height: 250px;
  background-color: var(--bright-pink);
  position: relative;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.overlay-video {
  width: 90%;
  position: relative;
}

.overlay-video img {
  border-radius: 15px;
  width: 100%;
  position: absolute;
  top: -3rem;
  right: -1rem;
}
.video-overlay-text {
  margin-top: 10em;
  text-align: center;
  color: white;
  line-height: 1.3;
  max-width: 90%;
}
.video-overlay-text-title {
  font-size: clamp(12px, 20px, 1rem);
}

.video-overlay-text-footer {
  font-size: 14px;
  font-weight: lighter;
}
/* video overlay */
/* food-panda-process */
.foodpanda-process-container {
  margin-top: 3em;
}
.foodpanda-process-one {
  background-color: var(--primary-grey);
  width: 90%;
  margin: 0px auto;
}
.food-panda-process-title {
  margin-top: 3em;
  margin-bottom: 3em;
}
/* food-panda-process */

/* stories */

.story-container {
  width: 100%;
  margin-bottom: 3em;
}
.recpatcha-title {
  font-size: small;
}
.story-two {
  display: flex;
  flex-direction: row-reverse;
}
.story-one,
.story-two {
  width: 100%;
  display: flex;
  height: 100vh;
  /* flex-wrap: wrap; */
}

.story-one-left img,
.story-two-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.story-one-left,
.story-two-left {
  width: 50%;
}

.story-one-right,
.story-two-right {
  width: 50%;
  /* margin: 0px auto; */
  padding: 2em;
  background-color: var(--bright-pink);
}

h4 {
}

.story-one-right h4,
.story-two-right h4 {
  color: white;
  font-size: 2.5em;
  font-weight: lighter;
}
.story-two-right h4 {
  font-size: 2.3em;
}

.story-one-right p,
.story-two-right p {
  color: lightgray;
  margin-top: 10px;
}

/* stories */
/* faq */

.faq-container {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 4em;
}

.faq-title {
  margin-bottom: 2em;
  font-size: x-large;
}

.detail-box {
  list-style: none;
}

.detail-box summary {
  list-style: none;
  border-top: 1px solid dimgrey;
  /* border-bottom: 1px solid dimgrey; */
  padding: 1em;
  position: relative;
}
.detail-box summary::after {
  content: "";
  background-image: url("../../../assets/icons/icon-arrow.png");
  width: 16px;
  height: 16px;
  background-size: cover;
  margin-right: 8px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.answer-list {
  color: dimgray;
  padding: 1em;
}

.answer-list li {
  padding: 1em;
  font-size: larger;
}
/* faq */

/* FOOTER */
.partner-footer-container {
  background-color: var(--primary-grey);
  padding: 7em;
  margin-top: 3em;
  /* height: 700px; */
}
.partner-footer-container-header {
  text-align: center;
  margin-bottom: 2em;
  /* padding: 1em; */
}
.partner-footer-container-middle {
  /* columns: 2 200px; */
  /* text-decoration: none; */
  /* columns: 3 300px; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4em;
}
.partner-footer-container-col1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.partner-footer-container-col2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.partner-footer-container-col1 a,
.partner-footer-container-col2 a {
  text-decoration: none;
  color: dimgray;
}
.partner-footer-container-download {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  width: 200px;
}
.partner-footer-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 3em;
}
.copyright {
  color: dimgray;
  font-size: small;
}

/* FOOTER */
/* recaptcha */
.recaptcha-container {
  color: white;
  background-color: royalblue;
  display: flex;
  gap: 4px;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 6px; */
  width: 40%;
  height: 60px;
  position: absolute;
  bottom: -226rem;
  right: -19rem;
  border: 1px solid blue;
  transition: 0.9s ease-in;
}
.recpatcha-title {
  font-size: small;
}
.recaptcha-container:hover {
  right: -6rem;
}
.recaptcha-logo {
  background-color: #fff;
  padding: 4px;
}
.recaptcha-logo img {
  width: 100%;
}
/* recaptcha */

/* RESPONSIVE */
@media (max-width: 768px) {
  .opportunities-single-feature-two,
  .opportunities-single-feature-three,
  .foodpanda-process-two,
  .foodpanda-process-three,
  .foodpanda-process-four {
    display: none;
  }

  .story-one-left,
  .story-two-left {
    width: 30%;
    flex-grow: 1;
  }
  .video-overlay-text-icon {
    display: none;
  }
}

@media (min-width: 769px) {
  .partner-hero {
    align-items: baseline;
    padding-left: 5em;
  }
  .opportunities-features,
  .foodpanda-process-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    /* overflow: scroll; */
  }
  .partner-footer-container {
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 1fr);
  }
  /* .partner-footer-container-download */
  .partner-footer-container-download img {
    width: 100%;
  }
  .partner-footer-container-header {
    text-align: center;
    margin-bottom: 1em;
    /* padding: 1em; */
    grid-row: 1/1;
    grid-column: 1/1;
  }
  .partner-footer-container-download {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
    width: 100px;
    grid-row: 1/1;
    grid-column: 3/3;
    align-items: baseline;
    margin-left: 8em;
  }
  .partner-footer-container-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
    grid-row: 2/2;
    grid-column: 1/5;
  }
  .recaptcha-container {
    bottom: -240rem;
  }
  .story-one-right,
  .story-two-right {
    width: 50%;
    /* margin: 0px auto; */
    padding: 4em;
    background-color: var(--bright-pink);
  }
  .overlay-video img {
    height: 100%;
    filter: blur(0.2);
    /* aspect-ratio: 5 /5; */
  }
  .video-overlay-text {
    position: absolute;
    z-index: 2;
    top: -6rem;
    right: 9rem;
    /* transform: translate(-50%, -50%); */
    width: 450px;
    flex-direction: column;
    text-align: start;
    /* transform: translate(-50%, -50%); */
  }

  .video-overlay-text-title {
    font-size: 2.2em;
  }

  .video-overlay-text-footer {
    font-size: 1.3em;
  }
  .overlay-video {
    width: 80%;

    height: 25rem;
  }

  .video-overlay-container {
    height: 30rem;
  }

  .video-overlay-text-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    /* margin: 0px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: 16rem;
  }
}
