:root {
  --primary-pink: #e21b70;
  --primary-grey: #eef0f1;
  --bright-pink: #ff2b85;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  /* margin: 0; */
  font-family: "Open Sans", sans-serif, "Courier New", Courier, monospace;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
