@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "Agrandir";
  src: url("./assets/fonts/Agrandir-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PP Agrandir;
  font-style: medium;
  font-weight: 400;
  src: url("./assets/fonts/PPAgrandir-400-Medium.otf");
}
@font-face {
  font-family: PP Agrandir;
  font-style: bold;
  font-weight: 600;
  src: url("./assets/fonts/PPAgrandir-600-Bold.otf");
}
:root {
  --primary-pink: #e21b70;
  --primary-grey: #eef0f1;
  --bright-pink: #ff2b85;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  /* margin: 0; */
  font-family: "Open Sans", sans-serif, "Courier New", Courier, monospace;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
img {
  width: 100%;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
h3,
h1,
h2,
h4 {
  font-family: "PP Agrandir";
}
.branding-logos {
  width: 150px;
}
.common-button {
  background-color: #007bff; /* Primary color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Add some spacing */
  font-size: 16px; /* Adjust font size */
  font-weight: 500; /* Slightly bold */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

/* Hover effect */
.common-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Focus effect */
.common-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Focus ring */
}

/* Disabled state */
.common-button:disabled {
  background-color: #c0c0c0; /* Gray background */
  cursor: not-allowed; /* Disable pointer cursor */
  opacity: 0.6; /* Reduced opacity */
}
