@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "Agrandir";
  src: url("./assets/fonts/Agrandir-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PP Agrandir;
  font-style: medium;
  font-weight: 400;
  src: url("./assets/fonts/PPAgrandir-400-Medium.otf");
}
@font-face {
  font-family: PP Agrandir;
  font-style: bold;
  font-weight: 600;
  src: url("./assets/fonts/PPAgrandir-600-Bold.otf");
}
:root {
  --primary-pink: #e21b70;
  --primary-grey: #eef0f1;
  --bright-pink: #ff2b85;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  /* margin: 0; */
  font-family: "Open Sans", sans-serif, "Courier New", Courier, monospace;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
img {
  width: 100%;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
h3,
h1,
h2,
h4 {
  font-family: "PP Agrandir";
}
.branding-logos {
  width: 150px;
}
