.restaurant-profile-container {
  margin-block: 3.1em;
  width: 100%;
  position: relative;
  /* margin-inline: 1em; */
}
.restaurant-profile-search-bar {
  position: fixed;
  top: 34em;
  z-index: 15;
}

/* popular container */
.restaurant-profile-popular-container {
  margin: 1em;
}
.restaurant-profile-popular-header-title {
  display: flex;
}
.restaurant-profile-popular-header-title svg {
  color: gold;
}
.restaurant-profile-popular-header-description {
  color: grey;
  font-size: smaller;
  margin-block: 1em;
}

.restaurant-profile-popular-items {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  width: 100%;
}
.restaurant-profile-popular-single-item h3 {
  padding: 10px;
}
.restaurant-profile-popular-single-item {
  margin-inline: 1em;
}

.restaurant-profile-product-detail {
  position: absolute;
  z-index: 10;
  top: 15rem;
}
/* responsive */
@media (min-width: 768px) {
  .restaurant-profile-popular-items {
    width: 60%;
  }
}
