.homepage-container {
  margin-top: 3em;
}

.homepage-section {
  margin-top: 13em;
  margin-bottom: 4em;
}

.homepage-article {
}
.homepage-hero {
  margin-bottom: 4em;
}
.homepage-vendor {
  margin-top: 4em;
}
.homepage-section-city-grid {
  margin-top: 25rem;
}
